nav a.active {
  background: #a9d262;
  color: white !important;
}

/* .custom-dropdown .dropdown-menu {
  left: -30;
  border-radius: 0;
  background-color: red;
} */
.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: black;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: black;
}

ul {
  text-align: left;
}
.col-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
}

.carousel-indicators {
  display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}

.large-text {
  font-size: 20px;
  margin-top: 10px;
  color: blue;
}
