nav a.active {
  background: #a9d262;
  color: white !important;
}

/* .custom-dropdown .dropdown-menu {
  left: -30;
  border-radius: 0;
  background-color: red;
} */
.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: black;
  /* Additional styles if needed */
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: black;
  /* Additional styles if needed */
}
/* .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: scroll;
} */
ul {
  text-align: left;
}
.col-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
}
